Alcance/Alcance/progra/ServicioWeb/ClienteConsola/Connected Services/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Credenciales">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContrasenaEncriptada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioEncriptado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credenciales" nillable="true" type="tns:Credenciales" />
  <xs:complexType name="ResultadoAutenticacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resultado" type="xs:boolean" />
      <xs:element minOccurs="0" name="TipoUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoAutenticacion" nillable="true" type="tns:ResultadoAutenticacion" />
  <xs:complexType name="UsuarioRegistro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioRegistro" nillable="true" type="tns:UsuarioRegistro" />
  <xs:complexType name="ResultadoRegistro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exitoso" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoRegistro" nillable="true" type="tns:ResultadoRegistro" />
</xs:schema>