Alcance 2/WCFServicio/ConsolaPrueba/Connected Services/WCFRef/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64771/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServicio.Entities" />
  <xs:element name="Retiro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServicio.Entities" minOccurs="0" name="request" nillable="true" type="q1:RetiroRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetiroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServicio.Entities" minOccurs="0" name="RetiroResult" nillable="true" type="q2:RetiroResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServicio.Entities" minOccurs="0" name="request" nillable="true" type="q3:ConsultaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServicio.Entities" minOccurs="0" name="ConsultaResult" nillable="true" type="q4:ConsultaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambioPin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServicio.Entities" minOccurs="0" name="request" nillable="true" type="q5:CambioPinRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambioPinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServicio.Entities" minOccurs="0" name="CambioPinResult" nillable="true" type="q6:CambioPinResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>